.content {
	padding:150px 0 150px 0;
margin:0 auto;
}
.content h3 {
    font-size: 2.5rem;
  font-family: "M PLUS 2", sans-serif;
}
h3 {
    font-size: 1.5rem;
    margin: 0 0 30px;
    padding: 0;
  font-family: "M PLUS 2", sans-serif;
  text-align:center;
}

section{
	padding:80px 0 60px;
	margin:0 auto;
}
.content{
	text-align:center;
}
h2{
	font-size:48px;
	text-align:center;
	font-weight:600;
	color:#333;
	margin:0 0 30px 0;
}
button{
	background:#000000;
	color:#FFFFFF;
	font-weight:500;
	padding:13px 30px;
	margin:30px auto 0;
    width:200px;
    border-radius:0;
}
.next-button{
	padding:15px 0 5px ;
	border:solid 1px #000000;
	background:#FFFFFF;
	border-radius:100px;
	color:#000000;
	font-size:120px;
}
.next-button2{
	padding:30px 45px 35px 65px;
	border:solid 1px #000000;
	background:#FFFFFF;
	border-radius:100px;
	color:#000000;
	font-size:90px;
	text-align:right;
}
.wrap{
	display:flex;
}
.space{
background:#dddddd;
width:45%;
}
.category-list{
display:flex;
justify-content: flex-end;
}
.category-list li{
margin-right:15px;
}

.news {
    text-align: center;
    margin: 35px auto;
    display: flex;
    /*中央揃え　縦に並べる*/
    flex-direction: column;
    /*横幅100%*/
    width: 960px;
	padding:60px 0 80px;
}
.news ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    text-align:left !important;
}
.news li:first-chil{
	border-top: 1px solid #ccc　!imporant;
}
.new{
background:#ff5858;
padding:5px 15px;
color:#ffffff;
font-weight:600;
}
.recommend {
    width: 100%;
 min-height: 500px; /* 内容に応じて調整 */
}

.recommend img {
    width: 50%;
    /* 目的の幅 */
    object-fit: cover;
    border-radius: 0 6% 6% 0 / 0 50% 50% 0;
}
.carousel{
display:flex;
}
.carousel img{
width:350px;
margin-right:15px;
}
.swiper-slide img {

    margin-right: auto;
    width: 50%;
    height: 100%;
}

.swiper-slide .content {
    text-align: center;
    width: 50%;
    height: 100%;
    /*文字を高さの中央に*/
    background-image: url("/data/background.png");
	background-color:rgba(255,255,255,0.8);
	background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
	vertical-align: middle;
}
.slider {
    margin-right: auto;
    width: 85% !important;
	height:300px;
}

.contents_item {
    width: 90%;
}
.item{
	padding:80px 0 100px;
	}
.item ul {
    height: 20px;
    width: 50%;
    list-style-type: none;
    /* デフォルトの箇条書きスタイルを削除 */
    padding: 0;
    margin-left: auto;
    display: flex;
    /* 横並びにする */

}

.item li {
    width: 25%;
    height: 100%;
    padding: 10px;
}



.right img {
    margin: 0;
    margin-top: auto;
    width: auto;
    height: 85%;
}

.left h3 {
    margin: 0;
}
.text{
text-align:center;
}
.contact button{
margin:0 auto;
}
.gallery{
display:flex;
width:100vw;
}
      .container {
        width: 100%;
        margin: 0 ;
        overflow: hidden;
      }

      .infinite-slider .swiper-wrapper {
        transition-timing-function: linear;
        will-change: transform;
      }

      .infinite-slider .swiper-slide {
        height: 320px !important;
        width: auto !important;
        flex-shrink: 0;
      }

      .infinite-slider .swiper-slide img {
        height: 100%;
        width: auto;
        margin: 2px;
      }

/* フォント日本語 */
.m-plus-2 {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* フォント英語 */
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
